<h1>Starting a new claim</h1>
<p><strong>Hi Celine,</strong></p>
<p>We're sorry to hear about yoru incident. Lodging your claim online will take 15-30 minutes. You can save your progress and come back anytime.</p>

<section class="form-section">
  <h2>1. Your policy and contact details</h2>
    <ul>
      <li *ngFor="let o of applicant">
        <strong>{{o.label}}:</strong> {{o.value}}
      </li>
    </ul>
    <p class="warning">If any of these details are incorrect, please call us on 08 8888 8888 to update these.</p>
</section>

<section class="form-section">
  <h2>2. How Motor claims usually work</h2>
  <p>Lodge your claim online - this can take <strong>15 or more minutes</strong> depending on complexity. The more information you provide upfront, the quicker the claim will progress.</p>

<p>We will send you a claim number via sms and email. This will include next steps relevant to you to act on immediately.</p>

<p>We will confirm your claim <strong>within three business days</strong>, and depending on the complexity may get in touch to clarify details or request particular information.</p>

<p>
  Repairers may be required to assess the damage to your vehicle. After we receive futher clarification or documentation, this will be added to the claim.
</p>

<p>
  If we need to take particular action from our end, we will update you as soon as this progresses. Complex claims may take longer to resolve.
</p>

<p>
  Once adequate information is available to resolove your claim, you will receive applicable next steps.
</p>

<p>
  If approved, excess and payouts will be finalised.
</p>
</section>


<section class="form-section">
    <h2>
        3. Have you got a police report?
    </h2>

<strong>Police report number</strong>
<p>
    This is mandatory for incidents involving theft, malicious damage, collision and arson. This can be sent after you have lodged your claim if you don’t have this yet
</p>
<strong>Police lost property report number</strong>
<p>
    This is mandatory for items that are accidentally lost. This can be sent after you have lodged your claim if you don’t have this yet
</p>
</section>

<section class="form-section">
    <h2>
        4. Before you start, collect the following documentation to email through after you lodge your claim
    </h2>
    
    <strong>Photos related to incident damage</strong>
    
    <p>
        Such as vehicle, building or item damage
    </p>
    
    
    
    <strong>Repair or replacement receipts and quotes</strong>
    
    <p>
        For repair or replacement of anything you have already done related to this claim
    </p>
    
    
    
    <strong>Proof of ownership documents for items you are claiming</strong>
    
    <p>
        Such as original purchase receipts or photos of a particular item being used in the past
    </p>
    
    
    
    <strong>Other documentation relating to the claim</strong>
    
    <p>
        Anything that could help us assess the claim such as a report or witness account for example
    </p>
</section>

<section class="form-section">
    <h2>
        5. How to save and continue your claim online
    </h2>
    
    <p>
        You can save your <strong>claim progress anytime</strong>, using the ‘save to MyAccount’ button on each page.
    </p>
    
    
    
    <p>
        Your draft claim is saved to <strong>My Account</strong>. If you exit and come back later, log in to My Account and select ‘continue claim’.
    </p>
    
    
    
    <p>
        Your claim progress will also be <strong>automatically saved as you go</strong> to make sure you don’t lose important information.
    </p>
    
    
    
    <p>
        You can <strong>cancel your claim lodgement</strong> at any stage if you need.
    </p>
    
    
    
    <p>
        You can <strong>print any page</strong> you need through this lodgement.
    </p>
    
    
    
    <p>
        To <strong>edit your information</strong>, please use the <strong>previous or next</strong> buttons. Do not use the browser back button.
    </p>
</section>