<div class="form-section">
<h2>Other people involved in the incident</h2>

<fieldset #form="ngModelGroup" [ngModelGroup]="group" class="column">
  <input hidden [value]="model" name="items" [(ngModel)]="model" />



<h2>Other people involved in the incident</h2>
<strong>List all other people involved in the incident</strong>
<p>
  Please add details for anyone involved in the incident, whether they had their
  vehicle or property damaged, or witnessed the incident.
</p>

<div *ngIf="isEditing" class="column edit-item">
    <h2>Add an involved person</h2>

    <p class="info">We may be able waive your excess if you can provide the name, contact details (phone number, email or home address) and registration number of the third party/parties invloved in your incident.</p>

    <label>What was their involvement related to?</label>
    <mat-button-toggle-group
      name="type"
      aria-label="What was their involvement related to?"
      [(ngModel)]="newItem.type"
      required
    >
      <mat-button-toggle value="vehicle">Vehicle damage</mat-button-toggle>
      <mat-button-toggle value="property">Property damage</mat-button-toggle>
      <mat-button-toggle value="witness">Witness</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field>
            <mat-label>How would you best describe this person?</mat-label>
            <mat-select
              name="type"
              [(ngModel)]="newItem.type"
              required
            >
              <mat-option
                *ngFor="let option of personDescription"
                [value]="option.value"
              >
                {{ option.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

    <person group="person"></person>

    <div>
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button (click)="save()">Save</button>
        </div>
    </div>
<button mat-raised-button *ngIf="!isEditing" (click)="addNewItem()">Add an involved person</button>
</fieldset>
</div>