<p (click)="test()">windscreen</p>
<fieldset #form="ngModelGroup" ngModelGroup="windscreen" class="column">
  <label>Have you already repaired or replaced the windscreen?</label>
  <mat-button-toggle-group
    name="taxStatus"
    aria-label="Have you already repaired or replaced the windscreen?"
    name="hasBeenRepairedOrReplaced"
    [(ngModel)]="model.hasBeenRepairedOrReplaced"
    (selectionChange)="onFormChange()"
    required
  >
    <mat-button-toggle value="true">Yes</mat-button-toggle>
    <mat-button-toggle value="false">No</mat-button-toggle>
  </mat-button-toggle-group>
  <ng-container *ngIf="hasNotBeenRepaired">
    <p class="warning">
      Please visit O'Brien Vehicle Glass Services to organise your windscreen to
      be repaired. They will manage your claim and payments with us.
    </p>
  </ng-container>
  <ng-container *ngIf="hasBeenRepaired">
    <mat-form-field>
      <mat-label>Where did this happen?</mat-label>
      <mat-select
        name="incidentLocation"
        [(ngModel)]="model.incidentLocation"
        (selectionChange)="onFormChange()"
        required
      >
        <mat-option
          *ngFor="let option of incidentLocations"
          [value]="option.value"
        >
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>What did this cost?</mat-label>
      <span matPrefix>$ &nbsp;</span>
      <input
        type="tel"
        matInput
        name="claimedAmount"
        [(ngModel)]="model.claimedAmount"
        required
      />
    </mat-form-field>

      <input
        hidden
        name="primaryCause"
        [(ngModel)]="model.primaryCause"
      />
  </ng-container>
</fieldset>
