<h1>Thanks, we've received your claim</h1>
<p class="info">Your claim number is 1234567890</p>

<section class="form-section">
  <p>
    Your claim number has been sent via SMS to phone number
  </p>
  <p>
    All of the details have been emailed to email address
  </p>
</section>

<h2>Here are your next steps</h2>

<section class="form-section">
  <h2>
    Get your vehicle assessed for damage
  </h2>

  <p>
    You told us that you want to claim for damage to your vehicle.
  </p>
</section>

<section class="form-section">
  <h2>RAA Approved Repairers</h2>
  <p>Repairers near you</p>
</section>

<section class="form-section">
  <h2>Keep you moving</h2>
  <p>
    We’re here to help when it’s needed most, if you have any questions, give us
    a call on 8202 4575.<br /><br />Thanks,<br />The RAA Claims team
  </p>
</section>
