<fieldset [ngModelGroup]="group" class="column">
    <h3>Address</h3>
  <mat-form-field>
    <mat-label>Line 1</mat-label>
    <input matInput type="text" name="line1" ngModel />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suburb</mat-label>
    <input matInput type="text" name="suburb" ngModel />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postcode</mat-label>
    <input matInput type="text" name="postcode" ngModel />
  </mat-form-field>
  <mat-form-field>
    <mat-label>State</mat-label>
    <input matInput type="text" name="state" ngModel />
  </mat-form-field>
</fieldset>
