<fieldset #form="ngModelGroup" [ngModelGroup]="group" class="column">
  <!-- hidden -->
  <input hidden [value]="model" name="items" [(ngModel)]="model" />
</fieldset>

<h2>Damage to your items or expenses related to the incident</h2>
<strong>List any damaged items or expenses related to this incident</strong>
<p>
  Please list any damaged personal property and other expenses. Proof of
  ownership documents such as photos or original receipts will need to be
  provided for any items you list.
</p>

<div>
  <div *ngFor="let item of model; let i = index;">
      <hr>
      <div class="row">
          <ul>
            <li>
              <strong>Select the item/expense type:</strong
              ><span>{{ item.type }}</span>
            </li>
            <li>
              <strong>Describe the item/expense:</strong
              ><span>{{ item.description }}</span>
            </li>
            <li>
              <strong>Has repairing or replacement already been paid for?:</strong
              ><span>{{ item.replaced }}</span>
            </li>
            <li>
              <strong>What did this cost to repair or replace?:</strong
              ><span>$ {{ item.amount }}</span>
            </li>
          </ul>
          <div class="column align-right">
              <button mat-raised-button color="primary" (click)="edit(i)">Edit</button>
              <button mat-button (click)="remove(i)">Remove</button>
          </div>
      </div>
  </div>
</div>

<hr>

<form #form="ngForm" *ngIf="isEditing" class="column edit-item">

    <h2>Add an item or expense</h2>
  <mat-form-field>
        <mat-label>Select the item/expense type</mat-label>
        <mat-select
          name="type"
          [(ngModel)]="newItem.type"
          required
        >
          <mat-option
            *ngFor="let option of itemTypes"
            [value]="option.value"
          >
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

  <mat-form-field>
    <mat-label>description</mat-label>
    <textarea
        columns="7"
      type="text"
      matInput
      name="description"
      [(ngModel)]="newItem.description"
      required
    ></textarea>
  </mat-form-field>

  <label>Has repairing or replacement already been paid for?</label>
  <mat-button-toggle-group
    name="replaced"
    aria-label="Has repairing or replacement already been apid for?"
    [(ngModel)]="newItem.replaced"
    required
  >
    <mat-button-toggle value="true">Yes</mat-button-toggle>
    <mat-button-toggle value="false">No</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field>
        <mat-label>What did this cost?</mat-label>
        <span matPrefix>$ &nbsp;</span>
        <input
          type="tel"
          matInput
          name="amount"
          [(ngModel)]="newItem.amount"
          required
        />
      </mat-form-field>

  <div>
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button (click)="save()">Save</button>
  </div>
</form>
<button mat-raised-button *ngIf="!isEditing" (click)="addNewItem()">Add an item or expanse</button>
