<h1>This is what you told us</h1>
<p class="info">Please go through your claim summary to check that all your information is correct, before you lodge it.</p>

<section class="form-section">
<h2>Primary cause and incident type</h2>
<ul>
    <li>
    <strong>Which of these best represents your claim?</strong>{{primaryCause.claimType}}
    </li>
    <li>
    <strong>How would you describe the primary cause of the incident?</strong>{{primaryCause.primaryCause}}
    </li>
    <li>
    <strong>What was the specific...?</strong>{{primaryCause.incidentType}}
    </li>
    <li>
    <strong>Where did this happen?</strong>{{primaryCause.incidentLocation}}
    </li>
</ul>
</section>

<section class="form-section">
<h2>Incident details</h2>
<ul>
    <li>
        <strong>On which date did this happen?</strong>
        {{incidentDetails.incidentDate}}
    </li>
    <li>
        <strong>What time did this happen?</strong>
        {{incidentDetails.incidentTime}}
    </li>
</ul>
</section>

<p class="info">Please call us on 08 8888 8888 if you want to update this information.</p>
<button (click)="test()">test this fellow</button>