:host {
  --bg-color: #cc2f2f;
  --bg-color-highlight: #690505;
  
  background: var(--bg-color);
  display: block;
  z-index: 2;
  a {
    text-decoration: none;
  }
  nav {
    font-family: monospace;
    display: block;
  }
  
  ul {
    background: var(--bg-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
    display: block;
  }
  
  li {
    color: #fff;
    background: var(--bg-color);
    display: block;
    float: left;
    padding: 0.5rem 2rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    a {
      color: #fff;
    }
    &:hover {
      background: var(--bg-color-highlight);
      cursor: pointer;
      > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
      }
  
    }
    ul {
      background: var(--bg-color);
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      left: 0;
      top: 100%;
      display: none;
      li {
        clear: both;
        width: 100%;
      }
    }
  }
  
}
