<fieldset #form="ngModelGroup" [ngModelGroup]="group" class="column edit-item">
    <mat-label>First name</mat-label>
      <mat-form-field>
        <input matInput type="text" name="NameFor" ngModel />
    </mat-form-field>
    <mat-label>Last name</mat-label>
      <mat-form-field>
        <input matInput type="text" name="NameFor" ngModel />
    </mat-form-field>
    <mat-label>Phone number (optional)</mat-label>
    <mat-form-field>
        <input matInput type="text" name="NameFor" ngModel />
    </mat-form-field>
    <mat-label>Address</mat-label>
    <address group="address"></address>
</fieldset>