<fieldset #form="ngModelGroup" [ngModelGroup]="group" class="column form-section">
    <h2>Date, time and place</h2>
  <datetime></datetime>
  <address group="address"></address>
  <mat-form-field>
        <mat-label>Explain the incident in your own words</mat-label>
        <textarea matInput
            type="text"
            name="description"
            rows="7"
            ngModel></textarea>
      </mat-form-field>
  <!-- text area -->
  <label>Was your insurance policy used for business purposes?</label>
  <mat-button-toggle-group
    name="taxStatus"
    ngModel
    aria-label="Was your insurance policy used for business purposes?"
  >
    <mat-button-toggle value="true">Yes</mat-button-toggle>
    <mat-button-toggle value="false">No</mat-button-toggle>
  </mat-button-toggle-group>
  <gst></gst>
</fieldset>
