<fieldset ngModelGroup="twoVehicles" class="column form-section">
    <mat-label>Where did this happen?</mat-label>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select name="incidentLocation"
        [(ngModel)]="model.incidentLocation"
        (selectionChange)="onFormChange()"
        required>
      <mat-option
        *ngFor="let option of incidentLocations"
        [value]="option.value"
      >
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-label>What happened in the...?</mat-label>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select name="primaryCause"
        [(ngModel)]="model.primaryCause"
        (selectionChange)="onFormChange()"
        required>
      <mat-option
        *ngFor="let option of primaryCauses"
        [value]="option.value"
      >
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-label>Who was responsible?</mat-label>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select
      name="responsiblePerson"
      [(ngModel)]="model.responsiblePerson"
      (selectionChange)="onFormChange()"
      required
    >
      <mat-option
        *ngFor="let option of responsiblePersons"
        [value]="option.value"
      >
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</fieldset>
